html {
    height: 100%;
}

body{
	color: #A6A8AC;
	background-color: #202021;

}

div{
	//margin: 5px;
}

#submit{
	float: right;
	position: relative;
	right: 24%;
	top: 0;
	
	padding: 40px 0px;
	
	width: 66px;
	height: 90px;
	
	background: black;
	border-radius: 0px 10px 10px 0px;
	box-shadow: 0px 4px #121313;
	margin: 4px;
	color: #777;
	line-height: 20px;
	text-align:center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

#submit:hover{
	background: white;
	box-shadow:0px 4px gray;
}

#submit:active{
	box-shadow: 0px 0px #6b54d3;
	top:4px;
}

#controls span{
	//border: 1px solid red;
	float: left;
	position: relative;
	left: 22%;
	top: 0;
	
	padding: 7px;
	
	width: 66px;
	height: 36px;
	
	background: black;
	border-radius: 6px;
	box-shadow: 0px 4px #121313;
	margin: 4px;
	color: #777;
	line-height: 20px;
	text-align:center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

#controls span:hover {
	background: white;
	box-shadow:0px 4px gray;
}

#controls span:active{
	box-shadow: 0px 0px #6b54d3;
	top:4px;
}

//#right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }

.row{
//	margin-left: 10px;
}

.comment-row{
	position: absolute;
	top: 15px;
  bottom: 0;
  right: 1px;
  overflow-y: scroll;
  width: 50%;
	height:100%;
}

.comment-element{
	font-weight: lightbold;
	color: white;
	
	background-color: #222933;
	

	padding: 10px 3px 25px 25px;
	margin: 5px;
	
	width: 90%;
	
}

.form-inline{
	margin: 10px;

}

#delete-comments{
	float:right;
	margin: 5px 0px;
	margin-right: 130px;
}

#play-back{
	margin: 15px;
	
}

.marker-time{
	color: #A6A8AC;
	background-color: #121313;
	padding: 2px 5px;
	display
}

.date-of-commnet{
	color: #5C5D5F;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -0.5px;
	
}

.text-of-commnet{
	color: #A6A8AC;
}

.form-control{
	background-color: #5C5D5F;
	color: white;
}

.form-control::-moz-placeholder {
  color: white;
}
.form-control:-ms-input-placeholder {
  color: white;
}
.form-control::-webkit-input-placeholder {
  color: white;
}
