
html {
    height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
	//padding-top: 70px;
	color: #A6A8AC;
  /* IE10+ */
  background-image: -ms-linear-gradient(bottom, #1B1C1C 0%, #3C3E42 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #1B1C1C 0%, #3C3E42 100%);

  /* Opera */
  background-image: -o-linear-gradient(bottom, #1B1C1C 0%, #3C3E42 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1B1C1C), color-stop(100, #3C3E42));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #1B1C1C 0%, #3C3E42 100%);

  /* W3C Markup */
  background-image: linear-gradient(to top, #1B1C1C 0%, #3C3E42 100%);

  background-repeat: no-repeat;
	background-attachment: fixed;
	//overflow:hidden; /* stops page scroll */

}

div{
	//margin: 5px;
	//border: 1px solid #ff0000;
}

/*----------------------------------
/////////// PAGE ////////////
*/
.top-bar{
  background: #0b0b11;
  padding: .5em;
}
#video-box{
  //border: 1px solid red;
  width: auto;
  //height: 85%;


}
video{
	display: block;
	width: 85%;
  height: auto;
	margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}


#submit{
	display: block;
	padding: 2% 20% 1% 20%;
	background: #000000;
	border-radius: 0px 0px 10px 0px;
	box-shadow: 0px 4px #121313;
	color: #777;
	line-height: 1em;
	text-align:center;

	/* prevent selection of text inside keys */
	user-select: none;

	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

#submit:hover{
	background: white;
	box-shadow:0px 4px gray;
}

#submit:active{
	box-shadow: 0px 0px #6b54d3;
	top:4px;
}

.yes-pad{
  padding-left: 2%;
  padding-right: 2%;
}

.no-pad{
  padding:0px;
  margin-left: 0px;
  margin-right: 0px;
}

#controls span{
	//border: 1px solid red;

	float: left;
	left: 35%;
	position: relative;
	//margin: 5px 100px;
	//top: 0;

	margin: 2px;
	padding: 1%;
	width: 8%;

	background: black;
	border-radius: 6px;
	box-shadow: 0px 4px #121313;
	color: #777;
	line-height: 20px;
	text-align:center;

	/* prevent selection of text inside keys */
	user-select: none;

	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}


#controls span:hover {
	background: white;
	box-shadow:0px 4px gray;
}

#controls span:active{
	box-shadow: 0px 0px #6b54d3;
	top:4px;
}

#time-controls{
	display: block;
	float: left;
	left: 10%;
	position: relative;
}

#currentTimeField{
	padding: 1px;
	margin-right: 20px;
	border-radius: 0px;
	background-color: transparent;
  border: 0px solid;
	color: white;
	width:6%;

}
/*
////////////////////////////////////
/////// scrub start ////////////////
///////////////////////////////////
*/

#scrubSlider {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
	background: rgba(0, 0, 0, 0.2);
}
#scrubSlider:focus {
  outline: none;
}
#scrubSlider::-webkit-slider-runnable-track {
  width: 60%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
#scrubSlider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.5px;
}
#scrubSlider:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
#scrubSlider::-moz-range-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555C;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
#scrubSlider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
#scrubSlider::-ms-track {
  width: 100%;
  height: 19px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#scrubSlider::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
#scrubSlider::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #50555C;
}
#scrubSlider::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 40px;
  border-radius: 12px;
  background: #529DE1;
  cursor: pointer;
}
#scrubSlider:focus::-ms-fill-lower {
  background: #50555C;
}
#scrubSlider:focus::-ms-fill-upper {
  background: #50555C;
}

.comment-row{
	//border: 1px solid red;
  height: 100%;
  overflow: scroll;
	padding-left: 0 !important;
  padding-right: 0 !important;
}



.comment-row::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}

.comment-element{
	//border: 1px solid red;

	font-weight: lightbold;
	color: white;
	background: #1c1c1c;
	padding: 10px 5px 35px 20px;

}

.comment-element:hover{
	background-color: #222950;
}

.comment-element:active{
	background-color: #222900;
}

.comment-element:focus{
	background-color: white;
}

.form-inline{
	margin: 10px;

}

.check-box{
  float: right;
  margin-right: 10px;
}

.delete-commnet-box{
  float: right;
  color: #5C5D5F;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -0.5px;
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.reply-commnet-box{
  float: left;
  color: #5C5D5F;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -0.5px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  cursor: pointer;
}



#delete-comments{
	float:right;
	margin: 5px 0px;
	margin-right: 130px;
}

#play-back{
	margin: 15px;

}

.marker-time{
	color: #A6A8AC;
	background-color: #121313;
	padding: 2px 5px;
	display
}

.date-of-commnet{
	color: #5C5D5F;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: -0.5px;

}

.text-of-commnet{
	color: #A6A8AC;
  margin: 0px 0px 15px 0px;
}

#name{
  width: 100%;
  margin: 0px;
}
.form-control{
	background-color: #5C5D5F;
	color: white;
}

.form-control::-moz-placeholder {
  color: white;
}
.form-control:-ms-input-placeholder {
  color: white;
}
.form-control::-webkit-input-placeholder {
  color: white;
}
